.navbar { 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
}
.navbar-left { 
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.navbar-right {
    display: flex;
}

.nav-links {
    font-size: 18px; 
    color: #E5E7EB;
    font-weight: 300;
    padding: 20px;
}

.hero { 
    display: flex; 
    align-items: center;
    padding: 50px 100px 50px 100px;
    justify-content: space-between;
}

.hero-text { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-text.maintext {  
    font-size: 48px; 
    font-weight: 800; 
    color: #F9FAF8;
}

.hero-text.subtext { 
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
    margin-right: 100px;
    padding-bottom: 20px;

}

button { 
    background-color: #3882F6; 
    color: #E5E7EB;
    padding: 10px 30px;
    border-radius: 8px;
    border: 0px;
    text-align: center;
    text-decoration: none;
}

button:hover { 
    opacity: 0.7;
}

.feature-1 { 
    background-color: #F9FAF8;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}


.feature-2 { 
    background-color: #E5E7EB ;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.feature-3 { 
    background-color: #F9FAF8;
    height: 300px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.feature-title { 
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 50px;
    color: #1F2937;
}

.featureitem {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featureitems { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
}

.featurebox { 
    border: 3px solid;
    border-radius: 8px;
    border-color: #000;
    height: 100px;
    width: 100px;
    margin-bottom: 15px;


}

.feature-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    padding: 20px 300px 20px 300px;
 }

 .quote-author { 
    text-align: right;
    margin-right: 500px;
    font-weight: 600;
 }

 .cta-box { 
    height: 150px;
    width: 800px;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex; 
    align-items: center;
    justify-content: space-around;
 }

 .cta-text { 
    color:#F9FAF8; 
 }

 .cta-text.subtext { 
    font-weight: 200;
 }

 .cta-button { 
    background-color: #3882F6; 
    border: solid;
    color: #E5E7EB;
    padding: 10px 30px;
    border-radius: 8px;
    border-color: #F9FAF8;
    text-align: center;
    text-decoration: none;
 }

body { 
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;

}